/* Register.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  form {
    background-color: #FFFFFF;
    padding: 30px; /* Increased padding */
    border-radius: 10px; /* More rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slightly more pronounced shadow */
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    text-align: left;
  }
  
  input {
    font-size: 16px;
  color: #333333;
  
  input[type="password"] {
    font-family: 'Courier New', Courier, monospace; /* Monospace font for password */
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input::placeholder {
    color: #888888;
    opacity: 1;
  }
  
  .MuiFormControl-root {
    margin: 10px 0; /* Ensure spacing between fields */
  }
  
  .MuiInputLabel-root {
    color: #8B4513; /* Dark Brown */
  }
  
  .MuiOutlinedInput-root {
    color: #333333; /* Dark Gray */
    fieldset {
      border-color: #D2B48C; /* Brownish Nude */
    }
    &:hover fieldset {
      border-color: #C4A484; /* Slightly Darker Nude */
    }
  }
  
  .MuiButton-containedPrimary {
    background-color: #D2B48C; /* Brownish Nude */
    &:hover {
      background-color: #C4A484; /* Slightly Darker Nude */
    }
  }
  
  p {
    color: #8B4513; /* Dark Brown */
  }
  @media (max-width: 600px) {
  form {
    padding: 20px;
    width: 90%;
  }
}
  }